.well {padding-top: 10px; margin-bottom: 15px}

.btn-default {margin-left: 0px; margin-right: 0px; margin-top: 2px; margin-bottom: 2px}

.btn-file {margin-top: 0px; margin-bottom: 0px}

.control-label {margin-bottom: 0px; padding-bottom:0px}

.form-group {margin-bottom: 3px}


#startped + div>.selectize-dropdown {width: 190px !important;}

.optgroup-header {color: black !important; font-weight: bold !important;}

.shiny-file-input-progress {margin-bottom: 10px;}


.num-input-row { padding-bottom: 8px; }
.num-input-row .col-sm-6:first-child { padding-right: 6px; }
.num-input-row .col-sm-6:last-child  { padding-left: 6px; }
.shiny-input-number.form-control {
  padding: 5px 5px 5px 10px; /* top, right, bottom, left */
}

.shiny-input-text.form-control::placeholder {
  font-weight: normal !important; /* Always normal font for placeholder */
}

/* icon button, to be combined with style = "background-image: url('...')" */
.custom_icon {
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


/* the actual buttons holding an icon */
.icon_button {
  padding: 0px;
  margin: 0px 2px 0px 0px;
  line-height: 0px;
  box-sizing: border-box;
}

.icon_button:last-child {
  margin-right: 0; /* No margin after the last button */
}

/* Needed because tooltip */
#proband {margin-right: 0;}
#addparents  {margin-right: 0;}

#clearsel {
  padding:5px; border:none; background-color: inherit;
}

#banner {
 position: absolute;
 top: 16px;
 right: 110px;
 background-color: yellow;
 color: #333;  /* Dark text color */
 padding: 5px 20px;
 border-radius: 2px;
 font-size: 14px;
 text-align: center;
 box-shadow: 0 6px 10px rgba(0,0,0,0.5);  /* Subtle shadow for depth */
 z-index: 1000;
}

#banner p {margin: 0px}
#big-text { font-size: 22px; font-family: 'Lobster', cursive;}


/* Labels with checkbox */
.label-row {display:flex;align-items:center;width:100%; margin-bottom:3px}
.label-row .txt {flex:1;min-width:0}
.label-row .txt .form-group {margin:0}
.label-row .txt .form-control {padding:2px 2px 0px 10px;}

.label-row .chk {display:flex;align-items:center;margin-left:6px; padding-top:2px}
.label-row .chk .checkbox {margin:0}
.label-row .chk .checkbox label {margin:0;padding:0}
.label-row .chk .checkbox input[type="checkbox"] {
  position:static;
  margin:0;
  vertical-align:middle;
  accent-color:lightgray;
}

.btn-slim{padding:0; border-color:#888}
.btn-slim:hover,.btn-slim:focus{border-color:#444}
