.well {padding-top: 10px; margin-bottom: 15px}

.btn-default {margin-left: 0px; margin-right: 0px; margin-top: 2px; margin-bottom: 2px}

.btn-file {margin-top: 0px; margin-bottom: 0px}

.control-label {margin-bottom: 0px; padding-bottom:0px}

.form-group {margin-bottom: 3px}


#startped + div>.selectize-dropdown {width: 190px !important;}

.optgroup-header {color: black !important; font-weight: bold !important;}

.shiny-file-input-progress {margin-bottom: 10px;}


.num-input-row { padding-bottom: 8px; }
.num-input-row .col-sm-6:first-child { padding-right: 6px; }
.num-input-row .col-sm-6:last-child  { padding-left: 6px; }
.shiny-input-number.form-control {
  padding: 5px 5px 5px 10px; /* top, right, bottom, left */
}

/* icon button, to be combined with style = "background-image: url('...')" */
.custom_icon {
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


/* the actual buttons holding an icon */
.icon_button {
  padding: 0px;
  margin: 0px 2px 0px 0px;
  line-height: 0px;
  float: left;
  box-sizing: border-box;
}

.icon_button:last-child {
  margin-right: 0; /* No margin after the last button */
}
